/*教学活动列表的样式*/
.content-list {
	margin-bottom: 30px;
	width: 100%;
	height: 110px;
	color: #a19f9f;
	overflow: hidden;
}
.content-list img {
	margin-right: 20px;
	float: left;
	height: 106px;
	width: 150px;
}
.content-list h3 {
	color: #393a3a;
}
.content-list:hover h3 {
	color: #0076c9;
}
.content-list div {
	float: right;
}
.content-list p {
	text-indent: 2em;
	margin-top: 10px;
	margin-bottom: 5px;
	height: 40px;
	overflow: hidden;
}
.content-list .readmore {
	float: right;
	color: #393a3a;
}
.content-list:hover .readmore {
	color: #ee4242;
}
/*页面下标*/
.container-pager {
	margin-top: 30px;
	margin-bottom: 20px;
	background-color: #8a8b8f;
	height: 30px;
	text-align: center;
	overflow: hidden;
}
.container-pager .pageBtn {
	display: inline-block;
	text-align: center;
	vertical-align: center;
	line-height: 30px;
	height: 30px;
	width: 70%;
	overflow: hidden;
}
.pageBtn span {
	height: 30px;
	line-height: 30px;
	display: inline;
	padding: 0 20px;
	cursor: pointer;
}
.pageBtn span:hover, .pageBtn a:hover {
	color: #fff;
}
.pageBtn .active {
	background-color: #999;
}
.pageBtn ul {
	display: inline-block;
}
.pageBtn ul li {
	display: inline-block;
	height: 30px;
	padding: 0 5px;
}
.pageBtn ul li a {
	color: #393a3a
}
