.STit{
	font-size: 18px;
}
#Scontent{
	margin: 0 auto;
	padding: 0;
	width: 780px;
	height: auto;

}
.SconList{
	margin: 0;
	padding: 0;
	width: 780px;
	height: auto;
	margin-bottom: 20px;
}
.SconList h3{
	margin-bottom: 20px;
	width: 780px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	text-indent: 1em;
	background: #0076c9;
	color: #fff;
}
.SconListCon{
	margin: 0 auto;
	padding: 0;
	width: 700px;
	height: 280px;

}
.SconListCon p{
	float: left;
	width: 400px;
	height: 260px;
	text-indent: 2em;
	line-height: 30px;
}
.SconListCon img{
	float: right;
	width: 260px;
	height: 260px;
	-moz-border-radius: 130px;
    -webkit-border-radius: 130px;
	border-radius: 130px;
	margin-top: 20px;
}
