/*活动详情页*/
.content-title {
	background-color: #54bfbc;
	height: 55px;
	text-align: center;
	margin-top: 35px;
	line-height: 55px;
}
.content-msg {
	color: #ee4242;
	/*font-weight: 600;*/
	margin-top: 15px;
	text-align: center;
}
.content-msg span {
	padding: 0 20px;
}
.content-download {
	margin: 10px 30px;
}
.content-article {
	line-height: 28px;
	text-indent: 2em;
}