/* main start */
.container-title {
	margin-top: 35px;
	text-align: center;
	background: url('../img/lesson_tit_bg.png') no-repeat;
	height: 40px;
	width: 167px;
	color: #fdfafa;
	line-height: 40px;
	font-size: 18px;
	font-weight: bold;
	font-family: "微软雅黑";
}
.container-content {
	margin-top: 20px;
	width: 100%;
	height: auto;
}
/*成员简介部分*/
.synopsis {
	margin: 20px auto;
	width: 65%;
	/*height: 230px;*/
	overflow: hidden;
}
.synopsis img {
	float: left;
	margin-right: 85px;
	height: 224px;
	width: 179px; 
}
.synopsis h2 {
	color: #2681cc;
	margin-top: 30px;
	margin-bottom: 10px;
}
.synopsis p {
	margin-top: 25px;
	font-size: 18px;
}
/*详细介绍部分*/
.introduction {
	margin: 0 auto;
	width: 80%;
	height: 225px;
	overflow: hidden;
}
.introduction h2 {
	color: #2681cc;
	margin-top: 20px;
	padding-left: 10px;
}
.introduction p {
	/*text-indent: 2em;*/
	margin-top: 20px;
}