/*成员详情*/
.container-content .content-msg {
	margin-top: 15px;
	margin-bottom: 10px;
	height: 230px;
	width: 100%;
	overflow: hidden;
}
.content-msg-img {
	float: left;
	margin-right: 80px;
	height: 224px;
	width: 179px;
}
.content-msg-text h2 {
	color: #0076c9;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content-msg-text p {
	font-size: 18px;
	color: #7c7c7c;
}
.content-msg-text .text-postion {
	margin-top: 10px;
	text-indent: 2em;
	color: #b1afaf;
	height: 68px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.content-msg-text .text-addres {
	color: #0076c9;
	margin-top: 10px;
}
.content-msg-text .text-readmore {
	float: right;
	background: url('../img/圆角矩形 2.png') no-repeat;
	display: inline-block;
	height: 9px;
	width: 39px;
	line-height: 8px;
	text-align: center;
	font-size: 6px;
	color: #fff;
	overflow: hidden;
	cursor: pointer;
}
